In [4]:
fruit = 'Banana'
for item in fruit:
    print(item)
fruit_list = ['cashew', 'orange', 'Banana', 'Mango', 'Pineapple']
for fruit in fruit_list:
    print(fruit, "is of length =", len(fruit))

B
a
n
a
n
a
cashew is of length = 6
orange is of length = 6
Banana is of length = 6
Mango is of length = 5
Pineapple is of length = 9

In [6]:
#working with for loop and range function
for number in range (2, 31, 2):
    print(number, "squared = ", number*number)

2 squared =  4
4 squared =  16
6 squared =  36
8 squared =  64
10 squared =  100
12 squared =  144
14 squared =  196
16 squared =  256
18 squared =  324
20 squared =  400
22 squared =  484
24 squared =  576
26 squared =  676
28 squared =  784
30 squared =  900

In [7]:
#working with while
count = 0
break_point = 9
while (count < break_point):
    print("count is at", count)
    count += 1
    #count = count + 1
print("we are done!")

count is at 0
count is at 1
count is at 2
count is at 3
count is at 4
count is at 5
count is at 6
count is at 7
count is at 8
we are done!

In [9]:
fruit_list = ['cashew', 'orange', 'Banana', 'Mango', 'Pineapple']
index = 0
length = len(fruit_list)
while (index < length):
    print(fruit_list[index])
    index+=1
    #index = index + 1

print("the end!")

cashew
orange
Banana
Mango
Pineapple
the end!

In [17]:
number_list = [2,5,7,9,4,12]
for number in number_list:
    print(number,"squared=", number*number)

2 squared= 4
5 squared= 25
7 squared= 49
9 squared= 81
4 squared= 16
12 squared= 144

In [19]:
number_list =[2,5,7,9,4,12]
index = 0
length = len(number_list)
while (index < length):
    print(number_list[index], "squared =" , number_list[index]**2)
    index += 1
    #index = index + 1

print("the end!")

2 squared = 4
5 squared = 25
7 squared = 49
9 squared = 81
4 squared = 16
12 squared = 144
the end!

In [22]:
#using conditionals in loop 
#printing only even numbers 

number_list = [2,5,7,9,4,12]
for number in number_list:
    square = number**2
    if (square%2 == 0):
        print(number,"squared=", square)

2 squared= 4
4 squared= 16
12 squared= 144

In [26]:
#nested loop
num_list1 = [1,2,2,4,5]
num_list2 = [6,7,8,9,10]
for x in num_list1:
    print("for",x)
    for y in num_list2:
        print((x, "x", y, "=", x*y))

for 1
(1, 'x', 6, '=', 6)
(1, 'x', 7, '=', 7)
(1, 'x', 8, '=', 8)
(1, 'x', 9, '=', 9)
(1, 'x', 10, '=', 10)
for 2
(2, 'x', 6, '=', 12)
(2, 'x', 7, '=', 14)
(2, 'x', 8, '=', 16)
(2, 'x', 9, '=', 18)
(2, 'x', 10, '=', 20)
for 2
(2, 'x', 6, '=', 12)
(2, 'x', 7, '=', 14)
(2, 'x', 8, '=', 16)
(2, 'x', 9, '=', 18)
(2, 'x', 10, '=', 20)
for 4
(4, 'x', 6, '=', 24)
(4, 'x', 7, '=', 28)
(4, 'x', 8, '=', 32)
(4, 'x', 9, '=', 36)
(4, 'x', 10, '=', 40)
for 5
(5, 'x', 6, '=', 30)
(5, 'x', 7, '=', 35)
(5, 'x', 8, '=', 40)
(5, 'x', 9, '=', 45)
(5, 'x', 10, '=', 50)

In [27]:
#nested loop
num_list1 = range[1,13]
num_list2 = range[1,13]
for x in num_list1:
    print("for",x)
    for y in num_list2:
        print((x, "x", y, "=", x*y))

TypeError: 'type' object is not subscriptable

In [32]:
#using break statement in a loop
animals = ["cow", "goat", "dog" , "cat"]
for animal in animals:
    print(animal)
    if animal == "goat":
        break

cow
goat

In [30]:
#using break statement in a loop
animals = ["cow", "goat", "dog" , "cat"]
for animal in animals:
    if animal == "goat":
        continue
    print(animal)

cow
dog
cat